@import 'fonts';
@import 'variables';

* {
  font-family: 'Space Mono', monospace;
}

body {
  background-color: $background-color;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
